:root {
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #1248ad;
    --secundario: #f1842f;
    --gris: #757575;
    --naranja: #ed6c26;
    --fuente_principal: 3.8rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

  *, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-size: 16px; /* 1rem = 10px*/
    font-family: 'Domine', serif;
    background-image: linear-gradient(to top, #fad5c1 0%, var(--blanco) 50%);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;
}

.titulo {
    font-size: 3.8rem;
    color: var(--negro);
    background-color: var(--naranja);
    padding: 1rem;
    margin: auto;
}

.titulo_secundario{
    color: var(--secundario)
}

.derechos {
    text-align: center;
    font-size: 1rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav_bg {
    background-color: var(--gris);
}

.nav_principal { 
    display: flex; 
    flex-direction: column;
}

@media (min-width: 768px) {
    .nav_principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.nav_principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.nav_principal a:hover {
    background-color: var(--naranja);
    color: var(--negro);
}

.hero {
    background-image: url(../img/superduke.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
    padding: 2rem;
    position: relative;
}

.contenido_hero {
    position: absolute;
    background-color: rgb( 0 0 0 / 55% );
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido_hero h2, .contenido_hero p, .contenido_hero h3 {
    color: var(--blanco)
}

.boton {
    background-color: var(--naranja);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 80%;
    text-align: center;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}
