:root {
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #1248ad;
    --secundario: #f1842f;
    --gris: #757575;
    --naranja: #ed6c26;
    --fuente_principal: 3.8rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

  *, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-size: 16px; /* 1rem = 10px*/
    font-family: 'Domine', serif;
    background: rgba(252,174,79,1);
    background: -moz-linear-gradient(top, rgba(252,174,79,1) 0%, rgba(237,130,49,0.71) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,174,79,1)), color-stop(100%, rgba(237,130,49,0.71)));
    background: -webkit-linear-gradient(top, rgba(252,174,79,1) 0%, rgba(237,130,49,0.71) 100%);
    background: -o-linear-gradient(top, rgba(252,174,79,1) 0%, rgba(237,130,49,0.71) 100%);
    background: -ms-linear-gradient(top, rgba(252,174,79,1) 0%, rgba(237,130,49,0.71) 100%);
    background: linear-gradient(to bottom, rgba(252,174,79,1) 0%, rgba(237,130,49,0.71) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcae4f', endColorstr='#ed8231', GradientType=0 );
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;
}

.titulo {
    font-size: 3.8rem;
    color: var(--negro);
    background-color: var(--naranja);
    padding: 1rem;
    margin: auto;
}

.titulo_secundario{
    color: var(--secundario)
}

.derechos {
    text-align: center;
    font-size: 1rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav_bg {
    background-color: var(--gris);
}

.nav_principal { 
    display: flex; 
    flex-direction: column;
}

@media (min-width: 768px) {
    .nav_principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.nav_principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.nav_principal a:hover {
    background-color: var(--naranja);
    color: var(--negro);
}

.hero {
    background-image: url(../img/superduke.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
    padding: 2rem;
    position: relative;
    margin-bottom: 2rem;
}

.contenido_hero {
    position: absolute;
    background-color: rgb( 0 0 0 / 55% );
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido_hero h2, .contenido_hero p, .contenido_hero h3 {
    color: var(--blanco)
}

.boton {
    background-color: var(--naranja);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 80%;
    text-align: center;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

.contactenos_datos {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(99,99,99,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(99,99,99,1);
    box-shadow: 0px 0px 15px 0px rgba(99,99,99,1);
    padding: 1rem 5rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    text-decoration: none;
}

@media (min-width: 1200px) {
    .servicios {
        display: grid;
        grid: 500px 90px 500px / 400px 400px 400px ;
        font-size: 1.7rem;
        column-gap: 4rem;
    }
}

.servicios h1 {
    color: var(--blanco);
}

@media (min-width: 768px) {
    .servicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-box-shadow: 3px 9px 32px -1px rgba(0,0,0,0);
        -moz-box-shadow: 3px 9px 32px -1px rgba(0,0,0,0);
        box-shadow: 3px 9px 32px -1px rgba(0,0,0,0);
        background-color: rgb( 0 0 0 / 40% );
        padding: 0rem 0rem 2rem 0rem;
        border-radius: 11px 11px 11px 11px;
    }
}

.servicio h2 {
    color: var(--naranja);
}

.servicio p {
    line-height: 2;
    text-align: center;
}

.iconos  {
    height: 15rem;
    width: 15rem;
    background-color: var(--naranja);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}