:root {
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #1248ad;
    --secundario: #196b6b;
    --gris: #757575;
    --fuente_principal: 3.8rem;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1rem = 10px*/
    font-family: 'Domine', serif;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--primario);
} 
.titulo span {
    font-size: 2.2rem; 
    font-family: 'Domine', serif;
}


